        .grid_2 a {
            text-decoration: none;
            color: black;
            top: 40px;
        }
        
        .grid_2 a:hover {
            color: white;
            background-color: rgba(202, 138, 64, 0.781);
            border: 2px solid rgba(202, 138, 64, 0.781);
            padding: 3px;
            border-radius: 25px;
        }
        
        #navi {
            margin-top: 60px;
            width: 960px;
            height: 40px;
            padding: 10px;
            background-color: rgb(233, 167, 81);
            font-size: 26px;
        }
        
        #banner {
            width: 960px;
            height: auto;
        }
        
        h1 {
            text-transform: uppercase;
            padding-bottom: 15px;
            border-bottom: 4px solid rgba(202, 138, 64, 0.781);
        }
        
        .fo {
            background-color: rgba(202, 138, 64, 0.781);
            columns: white;
        }
        
        .copytxt {
            text-align: center;
            padding-top: 30px;
        }